@using Sitecore.Mvc
<div>
    <h1 class="headline">
        @Html.Sitecore().Field("Headline")
    </h1>
    <div class="introduction">
        @Html.Sitecore().Field("Introduction")
    </div>
    <div class="content">
        @Html.Sitecore().Field("Content")
    </div>
</div>